body{
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

a{
    color: rgb(227, 214, 214);
    text-decoration-color:rgb(227, 214, 214);
}

.left-side{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 40%;
    background-image: url("background.jpg");
    background-size: 100vh;
}

.logo-container{
    position: absolute;
    top: 20%;
    background-color: black;
    opacity: 0.5;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo{
    display: flex;
    align-items: center;
}

.odin-png{
    height: 100%;
    width: 80%;
}

.footer{
    color: rgb(241, 227, 227);
    margin-top: auto;
    margin-bottom: 1rem;
    text-align: center;
}

.right-side{
    background-color: rgb(225, 241, 250);
    display: flex;
    flex-direction: column;
    flex: 1 0 60%;
}